.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px 20px;  
}


.search-form button {  
  display: flex;
  justify-content: center;
  align-items: center;  
  border: none;
  background-color: aquamarine; 
  border-radius: 0 5px 5px 0;
  padding: 8px 20px;  
  cursor: pointer;
}

.search-form button:hover {
  background-color: rgba(224, 224, 224, 0.5);
  transition: all 0.3s;
}

.load-more.is-hidden {
  display: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -20px;
  padding-top: 20px;
  justify-content: center;  
}

// .gallery {
//   display: grid;
//   max-width: 1140px;
//   grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
//   grid-auto-rows: 240px;
//   grid-gap: 12px;
//   justify-content: center;
//   padding: 0;
//   list-style: none;
//   margin-left: auto;
//   margin-right: auto;
// }

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.05);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;  
}

.gallery-item__img {
  display: block;
  height: 30vh;
  // object-fit: cover;  
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(113, 113, 113);
  gap: 5px;

}




// ============================

// .gallery {
  // display: grid;
  // max-width: 1140px;
  // grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  // grid-auto-rows: 240px;
  // grid-gap: 12px;
  // justify-content: center;
  // padding: 0;
  // list-style: none;
  // margin-left: auto;
  // margin-right: auto;
// }

// .gallery__item {
//   position: relative;
//   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
//     0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
// }

// .gallery-item__img:hover {
//   transform: scale(1.03);
// }

// .gallery-item__img {
//   height: 100%;
//   width: 100%;
//   object-fit: cover;
//   transition: transform var(--animation-duration) var(--timing-function);
// }

// .gallery__link {
//   display: block;
//   text-decoration: none;
//   height: 100%;
// }

// .gallery__link:hover {
//   cursor: zoom-in;
// }

.load-more {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 250ms linear;
}

.load-more {
  display: block;
  margin: 0 auto;
}

.load-more.is-hidden {
  display: none;
}

.search-btn:hover,
.search-btn:focus,
.load-more:hover,
.load-more:focus {
  background-color: #27ae60;
}
